<div>
  <div>
<!--    <div class="uk-hidden@m">-->
<!--      <div class="monitor_dashboard-menu">-->
<!--        <nav uk-navbar="" class="uk-navbar-container uk-navbar">-->
<!--          <div><img alt="BETA" class="uk-position-top-left" style="height: 60px; width: 60px;"-->
<!--                    src="assets/images/beta_flag.svg"></div>&lt;!&ndash;&ndash;&gt;-->
<!--          <div class="uk-navbar-left">&lt;!&ndash;&ndash;&gt;</div>&lt;!&ndash;&ndash;&gt;-->
<!--          <div class="uk-navbar-center">&lt;!&ndash;&ndash;&gt;<a class="uk-logo uk-navbar-item uk-text-center uk-text-bold"-->
<!--                                                  href="./home"><img-->
<!--            src="http://catalogue.openaire.eu/images/logos/Metadata_validator_logo.svg" alt="Metadata Validator">&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;</a>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;-->
<!--          </div>-->
<!--          <div class="uk-navbar-right"><a href="#tm-mobile" uk-toggle="" class="uk-navbar-toggle" aria-expanded="false">-->
<!--            <div uk-navbar-toggle-icon="" class="uk-navbar-toggle-icon uk-icon custom-navbar-toggle-icon">-->
<!--              <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">-->
<!--                <rect y="9" width="20" height="2"></rect>-->
<!--                <rect y="3" width="20" height="2"></rect>-->
<!--                <rect y="15" width="20" height="2"></rect>-->
<!--              </svg>-->
<!--            </div>-->
<!--          </a>&lt;!&ndash;&ndash;&gt;</div>&lt;!&ndash;&ndash;&gt;</nav>-->
<!--      </div>-->
<!--      <div id="tm-mobile" class="uk-offcanvas uk-hidden@m" uk-offcanvas="flip:true;overlay: true">-->
<!--        <div class="uk-offcanvas-bar"><a class="uk-offcanvas-close uk-icon uk-close">-->
<!--          <icon name="close" ratio="1.5" visuallyhidden="close menu">&lt;!&ndash;&ndash;&gt;<span class="uk-display-inline-block"><span-->
<!--            class="material-icons" style="font-size: 30px;">close</span></span>&lt;!&ndash;&ndash;&gt;<span class="visually-hidden">close menu</span>-->
<!--            &lt;!&ndash;&ndash;&gt;</icon>-->
<!--        </a>-->
<!--          <div class="uk-padding">-->
<!--            <ul class="uk-nav uk-nav-default">&lt;!&ndash;&ndash;&gt;-->
<!--              <li><a href="/dashboard/ec">Dashboard</a>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;-->
<!--                <ul class="uk-nav-sub">&lt;!&ndash;&ndash;&gt;</ul>-->
<!--              </li>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;-->
<!--              <li><a href="/dashboard/ec/search/find/research-outcomes?resultbestaccessright=%22Open%2520Access%22">Browse-->
<!--                Data</a>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;-->
<!--                <ul class="uk-nav-sub">&lt;!&ndash;&ndash;&gt;</ul>-->
<!--              </li>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;-->
<!--              <li>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;<a>Resources</a>&lt;!&ndash;&ndash;&gt;-->
<!--                <ul class="uk-nav-sub">&lt;!&ndash;&ndash;&gt;-->
<!--                  <li class="uk-nav-header">Methodology</li>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;-->
<!--                  <li><a href="/dashboard/ec/methodology">Terminology and construction</a>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;</li>-->
<!--                  &lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;-->
<!--                  <li><a href="/dashboard/ec/methodology#how">See how it works</a>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;</li>&lt;!&ndash;&ndash;&gt;-->
<!--                  &lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;-->
<!--                  <li class="uk-nav-header">Indicators</li>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;-->
<!--                  <li><a href="/dashboard/ec/indicators/funder">Funders</a>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;</li>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;-->
<!--                  &lt;!&ndash;&ndash;&gt;-->
<!--                  <li><a href="/dashboard/ec/indicators/ri">Research Initiatives</a>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;</li>&lt;!&ndash;&ndash;&gt;-->
<!--                  &lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;-->
<!--                  <li><a href="/dashboard/ec/indicators/organization">Research Institutions</a>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;-->
<!--                  </li>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;</ul>-->
<!--              </li>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;-->
<!--              <li><a href="/dashboard/ec/develop">Develop</a>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;-->
<!--                <ul class="uk-nav-sub">&lt;!&ndash;&ndash;&gt;</ul>-->
<!--              </li>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;-->
<!--              <li class="uk-active"><a href="/dashboard/admin/ec">Manage</a>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;-->
<!--                <ul class="uk-nav-sub">&lt;!&ndash;&ndash;&gt;</ul>-->
<!--              </li>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;</ul>-->
<!--            <user-mini mobileview="true">&lt;!&ndash;&ndash;&gt;-->
<!--              <ul class="uk-nav uk-nav-default">-->
<!--                <li><span class="uk-flex uk-flex-middle"><span>Antonis Lempesis </span><span-->
<!--                  class="uk-margin-small-right uk-icon"><svg width="20" height="20" viewBox="0 0 20 20"-->
<!--                                                             xmlns="http://www.w3.org/2000/svg"><circle fill="none"-->
<!--                                                                                                        stroke="#000"-->
<!--                                                                                                        stroke-width="1.1"-->
<!--                                                                                                        cx="9.9"-->
<!--                                                                                                        cy="6.4"-->
<!--                                                                                                        r="4.4"></circle><path-->
<!--                  fill="none" stroke="#000" stroke-width="1.1"-->
<!--                  d="M1.5,19 C2.3,14.5 5.8,11.2 10,11.2 C14.2,11.2 17.7,14.6 18.5,19.2"></path></svg></span></span>-->
<!--                  &lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;-->
<!--                  <ul class="uk-nav-sub">-->
<!--                    <li><a href="/dashboard/admin">Manage profiles</a>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;</li>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;-->
<!--                    <li><a href="/dashboard/admin/admin-tools/portals">Super Admin options</a>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;</li>&lt;!&ndash;&ndash;&gt;-->
<!--                    &lt;!&ndash;&ndash;&gt;-->
<!--                    <li><a href="/dashboard/admin/monitor/admin-tools/pages">Monitor portal options</a>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;-->
<!--                    </li>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;-->
<!--                    <li><a href="/dashboard/ec/user-info">User information</a>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;</li>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;-->
<!--                    <li class="uk-nav-divider"></li>&lt;!&ndash;&ndash;&gt;-->
<!--                    <li><a>Log out</a></li>-->
<!--                  </ul>&lt;!&ndash;&ndash;&gt;</li>-->
<!--              </ul>&lt;!&ndash;&ndash;&gt;</user-mini>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;</div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <div id="main-menu" class="uk-visible@m">
      <div id="sticky-menu" uk-sticky="" media="@m"
           class="uk-navbar-container monitor_dashboard-menu uk-sticky uk-sticky-fixed"
           style="position: fixed; top: 0px; width: 1728px;">
        <div>
          <img alt="BETA" class="uk-position-top-left" style="height: 65px; width: 65px; z-index: 1000;"
                  src="assets/images/beta_flag.svg">
        </div><!---->
        <div class="uk-container uk-container-expand">
          <nav uk-navbar="" class="uk-navbar">
            <div class="uk-navbar-left">
              <a class="uk-logo uk-navbar-item uk-text-center uk-text-bold uk-margin-medium-left"
              href="./home"><img src="https://www.opix.ai/images/Logos/opix%20logo%202.svg" alt="OPIX"></a>
            </div>
          </nav>
        </div>
      </div>
      <div class="uk-sticky-placeholder" style="height: 65px; margin: 0px;"></div>
  </div><!----><!---->
  </div>
</div>
