[submodule "src/assets/openaire-theme"]
	path = src/assets/openaire-theme
	url = gitea@code-repo.d4science.org:MaDgIK/openaire-theme.git
[submodule "src/assets/common-assets"]
	path = src/assets/common-assets
	url = gitea@code-repo.d4science.org:MaDgIK/openaire-assets.git
