<aside id="sidebar_main">
  <div id="sidebar_content">
    <div class="menu_section uk-margin-xlarge-top" style="min-height: 30vh;">
      <ul uk-nav="" class="uk-list uk-nav uk-nav-default">
        <li class="uk-active uk-open">
          <a title="General" href="/single-record-validate">
            <div class="uk-flex uk-flex-middle uk-flex-center">
              <div class="uk-width-auto">
                <div class="menu-icon">
                  <span class="uk-flex"><span class="material-icons" style="font-size: 20px;">fact_check</span></span>
                </div>
              </div><span class="uk-width-expand uk-text-truncate uk-margin-small-left">Single record validate</span>
            </div>
          </a>
        </li>
<!--        <li><a title="Indicators" href="/dashboard/admin/ec/indicators">-->
<!--          <div class="uk-flex uk-flex-middle uk-flex-center">-->
<!--            <div class="uk-width-auto">-->
<!--              <icon class="menu-icon">&lt;!&ndash;&ndash;&gt;<span class="uk-flex"><span class="material-icons"-->
<!--                                                                         style="font-size: 20px;">bar_chart</span></span>-->
<!--                &lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;</icon>-->
<!--            </div>&lt;!&ndash;&ndash;&gt;<span class="uk-width-expand uk-text-truncate uk-margin-small-left">Indicators</span>&lt;!&ndash;&ndash;&gt;-->
<!--          </div>-->
<!--        </a>&lt;!&ndash;&ndash;&gt;</li>-->
<!--        <li><a title="Users" href="/dashboard/admin/ec/users">-->
<!--          <div class="uk-flex uk-flex-middle uk-flex-center">-->
<!--            <div class="uk-width-auto">-->
<!--              <icon class="menu-icon">&lt;!&ndash;&ndash;&gt;<span class="uk-flex"><span class="material-icons"-->
<!--                                                                         style="font-size: 20px;">group</span></span>-->
<!--                &lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;</icon>-->
<!--            </div>&lt;!&ndash;&ndash;&gt;<span class="uk-width-expand uk-text-truncate uk-margin-small-left">Users</span>&lt;!&ndash;&ndash;&gt;</div>-->
<!--        </a>&lt;!&ndash;&ndash;&gt;</li>-->
<!--        <li><a title="Pages &amp; Entities" href="/dashboard/admin/ec/admin-tools/pages">-->
<!--          <div class="uk-flex uk-flex-middle uk-flex-center">-->
<!--            <div class="uk-width-auto">-->
<!--              <icon class="menu-icon">&lt;!&ndash;&ndash;&gt;<span class="uk-flex"><span class="material-icons"-->
<!--                                                                         style="font-size: 20px;">description</span></span>-->
<!--                &lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;</icon>-->
<!--            </div>&lt;!&ndash;&ndash;&gt;<span class="uk-width-expand uk-text-truncate uk-margin-small-left">Pages &amp; Entities</span>-->
<!--            &lt;!&ndash;&ndash;&gt;</div>-->
<!--        </a>&lt;!&ndash;&ndash;&gt;</li>&lt;!&ndash;&ndash;&gt;-->
      </ul>
    </div><!---->
<!--    <div class="menu_section uk-margin-large-top">-->
<!--      <ul uk-nav="" class="uk-list uk-nav uk-nav-default">-->
<!--        <li><a href="/dashboard/admin">-->
<!--          <div class="uk-flex uk-flex-middle uk-flex-center">-->
<!--            <div class="uk-width-auto">-->
<!--              <icon class="menu-icon">&lt;!&ndash;&ndash;&gt;<span class="uk-flex uk-text-secondary"><span class="material-icons"-->
<!--                                                                                           style="font-size: 20px;">search</span></span>-->
<!--                &lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;</icon>-->
<!--            </div>&lt;!&ndash;&ndash;&gt;<span class="uk-width-expand uk-text-truncate uk-margin-small-left">Manage profiles</span>-->
<!--            &lt;!&ndash;&ndash;&gt;</div>-->
<!--        </a></li>-->
<!--      </ul>-->
<!--    </div>-->
  </div>
</aside>
