<div id="page_content">
  <div id="page_content_header" class="uk-blur-background" offset="65">
    <div class="uk-container uk-container-large">

      <div class="uk-section">

<!--        <h6>1. Select guidelines (*)</h6>-->
<!--        <div class="uk-width-1-2@m uk-grid-margin uk-first-column">-->
<!--          <div input="" type="select">-->
<!--            <div id="input-12">-->
<!--              <div class="input-wrapper inner active" tabindex="0" aria-haspopup="true" aria-expanded="false">-->
<!--                <div click-outside-or-esc="" class="input-box select">-->
<!--                  <div class="placeholder"><label>guidelines <sup>*</sup>&lt;!&ndash;&ndash;&gt;</label></div>&lt;!&ndash;&ndash;&gt;-->
<!--                  <div class="uk-flex uk-flex-middle" aria-expanded="false" tabindex="0"-->
<!--                       uk-tooltip="title: Public; delay: 500; pos: bottom-left" title="">&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;-->
<!--                    <div class="input uk-width-expand uk-text-truncate">Public</div>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;-->
<!--                    &lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;-->
<!--                    <div class="uk-margin-small-left icon">&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;-->
<!--                      <div>&lt;!&ndash;&ndash;&gt;<span class="uk-flex"><span class="material-icons" style="font-size: 20px;">arrow_drop_down</span></span>-->
<!--                        &lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;</div>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;</div>&lt;!&ndash;&ndash;&gt;</div>-->
<!--                  <div class="tools"></div>-->
<!--                </div>-->
<!--              </div>&lt;!&ndash;&ndash;&gt;</div>&lt;!&ndash;&ndash;&gt;&lt;!&ndash;&ndash;&gt;<span class="uk-text-danger uk-text-small"></span><span-->
<!--            class="uk-text-warning uk-text-small">&lt;!&ndash;&ndash;&gt;</span>&lt;!&ndash;&ndash;&gt;<span class="uk-text-small"></span></div>-->
<!--        </div>-->

        <h6>Paste text</h6>
        <div class="uk-width-1-1 uk-grid-margin uk-first-column">
          <div input="" placeholder="Description">
            <div id="input-11">
              <div class="input-wrapper inner">
                <div click-outside-or-esc="" class="input-box">
<!--                  <div class="placeholder"><label>Metadata record &lt;!&ndash;&ndash;&gt;</label></div>&lt;!&ndash;&ndash;&gt;-->
                  <div class="uk-flex"><!----><textarea class="input ng-untouched ng-pristine ng-valid"
                                                        rows="10" [(ngModel)]="text" [ngModelOptions]="{standalone: true}"></textarea><!----><!----><!----><!----><!----><!---->
                  </div>
                  <div class="tools"></div>
                </div>
              </div><!----></div><!----><!----><span class="uk-text-danger uk-text-small"></span><span
            class="uk-text-warning uk-text-small"><!----></span><!----><span class="uk-text-small"></span></div>
        </div>

        <div class="uk-margin-medium-top">
          <button class="uk-button uk-button-primary uk-flex uk-flex-middle uk-flex-wrap" (click)="classify()">
<!--            <div name="cloud_upload">-->
<!--              <span class="uk-flex"><span class="material-icons" style="font-size: 20px;">check</span></span>-->
<!--            </div>-->
            <span class="uk-margin-small-left">Submit!</span>
          </button>
        </div>

        <div *ngIf="response" class="uk-margin-medium-top">
          <h6>Response</h6>
          <pre class="uk-margin-top">{{response}}</pre>
        </div>


      </div>

    </div>
  </div>
</div>
